<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{card.title}}">
  <ion-content class="padding" overflow-scroll="true">
  <div class="list card">
  	<div class="item">
    	<hz-line-chart val="chartData" label-x="{{card.chartLabelX}}" label-y="{{card.chartLabelY}}"></hz-line-chart>
	</div>
	<div class="item item-divider">
		Statistics
	</div>
	<div class="item" ng-repeat="item in items">
		{{item.label}}
		<span class="badge badge-positive">
			{{item.value}}
		</span>
	</div>
	
  </div> 
  </ion-content>
</ion-view>
