<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Heart Rate</div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Day
                </div>
                <select ng-model="selected.dayIdx">
                    <option ng-repeat="day in days" ng-value="$index" ng-selected="$first">{{day}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Hour
                </div>
                <select ng-model="selected.hourIdx">
                    <option ng-repeat="hour in hours" ng-value="$index" ng-selected="$first">{{hour}}</option>
                </select>
            </label>
            <div class="item item-body">
                <hz-line-chart val="chartInfo.data" label-x="chartInfo.labelX" label-y="chartInfo.labelY"></hz-line-chart>

                <p>Selected day idx: {{selected.dayIdx}}</p>
                <p>Selected hour idx: {{selected.hourIdx}}</p>
            </div>

            <div class="item tabs tabs-secondary">
                <div class="tab-item">
                    Hour
                </div>
                <div class="tab-item">
                    Day
                </div>
            </div>
        </div>

        <!--     <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->
    </ion-content>
</ion-view>
